<td>{{id}}</td>
<td>{{navn}}</td>
<td>{{telefon}}</td>
<td>{{email}}</td>
<td>{{mistenkelighetsgrad}}</td>
<td>{{#unless sjekketUt}}
    <button type="button" class="btn">
        <span class="glyphicon glyphicon-remove"/>
    </button>
{{/unless}}
</td>